.DS_Store
*.swp
*.swo
 __pycache__/
 *.pyc
code/.cache/*
code/.keras/*
code/gradient/.ipynb_checkpoints/*
code/.config/*
code/.ipynb_checkpoints/*
code/.ipython/*
code/.jupyter/*
code/.local/*
code/.bash_history
code/tags
code/.ipython_history*
code/reinforcement_learning/*
